Repository BF-FrontEnd-class/agile-development-group2-hyf-rebuild, pull requests merged in 2023-05, with the labels that each got.

#8 project definiton added
  .cspell.json
  README.md
Labels: md, planning

#10 add constraints md
  planning/constraints.md
Labels: md, planning

#11 Add communication plan
  .cspell.json
  package.json
  planning/communication.md
Labels: md, planning

#14 add my part to backlog
  .cspell.json
  planning/backlog.md
Labels: md, planning

#13 Add backlog-home
  planning/backlog.md
Labels: md, planning

#18 add backlog for digitalents page
  planning/backlog.md
Labels: md, planning

#19 design added
  planning/backlog.md
  planning/design.md
  public/digitalents.png
  public/homepage.png
  public/program.png
  public/volunteer.png
Labels: md, planning

#23 logo added to all pages
  index.html
  pages/another-page.html
  pages/digitalents.html
  pages/program.html
  pages/volunteer.html
  public/logo.svg
  styles/index.css
Labels: css, html

#28 add footer
  index.html
  pages/digitalents.html
  pages/program.html
  pages/volunteer.html
  styles/index.css
Labels: css, html

#31 added footer to all pages
  index.html
  pages/digitalents.html
  pages/volunteer.html
Labels: css, html

#33 fixed minor css links
  index.html
Labels: css, html

#34 Add navigation bar
  .cspell.json
  index.html
  styles/index.css
Labels: css, html

#35 fixed the logo position
  index.html
  pages/digitalents.html
  pages/program.html
  pages/volunteer.html
  planning/backlog.md
  styles/index.css
Labels: css, html

#38 updated design
  planning/design.md
  planning/development-strategy.md
  public/volunteer.png
  public/volunteer1.png
Labels: md, planning

#39 minor logo fixes
  index.html
  pages/digitalents.html
  pages/program.html
  pages/volunteer.html
  styles/index.css
Labels: css

#40 footer added to all pages
  pages/digitalents.html
  pages/program.html
  pages/volunteer.html
Labels: html

#54 title of the program page added
  pages/program.html
  styles/program.css
Labels: css, html

#60 description of the program added
  pages/program.html
  public/it-team.png
  styles/program.css
Labels: css, html

#61 Banner home
  index.html
  public/home-banner.jpg
  styles/home.css
  styles/index.css
  styles/something.css
Labels: css, html

#62 margin and text size fixed
  pages/program.html
  public/it-team.png
  public/it-team.webp
  styles/program.css
Labels: css, html

#65 description part added
  pages/volunteer.html
  styles/volunteer.css
Labels: css, html

#69 buttons: mentor, coach added
  pages/volunteer.html
  styles/volunteer.css
Labels: css, html

#70 added who can apply section
  pages/program.html
  styles/index.css
  styles/program.css
Labels: css, html

#72 added digitalents page description
  pages/digitalents.html
  styles/digitalents.css
  styles/index.css
Labels: css, html

#76 Home statistic
  .cspell.json
  index.html
  styles/home.css
Labels: css, html

#77 Upcoming trainings button added
  pages/program.html
  styles/program.css
Labels: css, html

#81 add program offers title to digitalents page
  pages/digitalents.html
  styles/digitalents.css
Labels: css, html

#82 why should i volunteer part added
  pages/volunteer.html
  public/images/volunteeer0.svg
  public/images/volunteer2.svg
  public/images/volunteer3.svg
  public/images/volunteer4.svg
  styles/volunteer.css
Labels: css, html

#85 curriculum section added
  pages/program.html
  public/it-team.png
  public/it-team.webp
  public/languages.webp
  styles/program.css
Labels: css, html

#89 margins added to the buttons
  pages/program.html
  styles/program.css
Labels: css

#90 Added our partners to home page
  .cspell.json
  index.html
  public/partners/partner.svg
  public/partners/partner1.svg
  public/partners/partner10.png
  public/partners/partner11.jpg
  public/partners/partner12.png
  public/partners/partner13.png
  public/partners/partner14.png
  public/partners/partner15.png
  public/partners/partner2.png
  public/partners/partner3.png
  public/partners/partner4.png
  public/partners/partner5.svg
  public/partners/partner6.png
  public/partners/partner7.svg
  public/partners/partner8.png
  public/partners/partner9.svg
  styles/home.css
Labels: css, html

#96 final project section added
  pages/program.html
  public/final-project.png
  styles/program.css
Labels: css, html

#99 add volunteer already part
  pages/volunteer.html
  public/images/anthony.png
  styles/volunteer.css
Labels: css, html

#113 add skill sessions
  pages/program.html
  public/coaching.jpg
  styles/program.css
Labels: css, html

#120 skill section pictured changed
  pages/program.html
  public/coaching.jpg
  public/coaching.png
  public/mentorship.png
  styles/program.css
Labels: css, html

#119 add asap.net program to digitalent
  pages/digitalents.html
  styles/digitalents.css
Labels: css, html

#125 title animation added
  main.js
  pages/program.html
Labels: js

#127 add volunteer slide
  .cspell.json
  index.html
  main.js
  pages/digitalents.html
  pages/program.html
  pages/volunteer.html
  pages/volunteer/css/style.css
  pages/volunteer/images/anthony.jpeg
  pages/volunteer/images/evan.png
  pages/volunteer/images/kevin.png
  pages/volunteer/images/samir.png
  pages/volunteer/images/tamer.jpeg
  pages/volunteer/images/tibuan.jpeg
  pages/volunteer/images/wolter.jpeg
  pages/volunteer/js/script.js
  pages/volunteer/js/swiper-bundle.min.js
  public/coaching.jpg
  public/mentorship.png
  styles/digitalents.css
Labels: css, html, js

#132 apdate slide
  pages/volunteer.html
  pages/volunteer/css/style.css
  pages/volunteer/js/swiper-bundle.min.js
  styles/volunteer.css
Labels: css, html

#133 script tag modified
  main.js
  pages/program.html
Labels: js

#135 fixed slide
  .cspell.json
  pages/volunteer.html
  pages/volunteer/css/style.css
  pages/volunteer/js/script.js
Labels: css, html, js

#145 Minor fixes home
  index.html
  styles/home.css
Labels: css

#151 add new slide
  .cspell.json
  pages/volunteer.html
  pages/volunteer/css/style.css
  pages/volunteer/images/ibragim.jpeg
  styles/volunteer.css
Labels: css, html

#152 add students image to digitalent
  pages/digitalents.html
  public/images/digitalents.jpg
  styles/digitalents.css
Labels: css, html

#153 add who can apply description title
  pages/digitalents.html
  styles/digitalents.css
Labels: css, html

#154 add who can apply descriptive text
  pages/digitalents.html
  styles/digitalents.css
Labels: css, html

#156 add who can apply button
  pages/digitalents.html
  styles/digitalents.css
Labels: css, html

#157 mobile responsiveness added
  styles/program.css
Labels: css

#158 minor responsive issues fixed
  styles/program.css
Labels: css

#160 css animation added
  main.js
  styles/program.css
Labels: css

#164 update digitalent page responsiveness
  styles/digitalents.css
Labels: css

#165 removed CSS unnecesary link
  styles/index.css
Labels: css

#166 add media queries
  pages/volunteer.html
  styles/index.css
  styles/volunteer.css
Labels: css, html

#168 add animation to digitalent page
  styles/digitalents.css
Labels: css

#169 fixing digitalents animation
  styles/digitalents.css
Labels: css

#172 Retrospective
  planning/retrospective.md
Labels: md

#173 readme file updated
  README.md
  planning/design.md
  public/read-me-screenshot.png
  public/volunteer.png
  public/volunteer1.png
Labels: md

#176 add new animation to digitalents
  styles/digitalents.css
Labels: css
